<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     <!-- Font Awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

      <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&family=Ubuntu:wght@500&display=swap"
        rel="stylesheet" />
    
    <link rel="stylesheet" href="coursereg.css">
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <!-- navigation bar starts -->
        <nav>
            <ul>
                <li>
                    <a href="#" class="logo">
                        <span class="nav-item">DashBoard</span>
                    </a>
                </li>
                <li>
                    <a class="mar hov" href="#">
                        <i class="fas fa-home"></i>
                        <span class="nav-item">Home</span>
                    </a>
                </li>
                <li >
                    <a class="hov" href="/adminpage_course">
                        <i class="fas fa-book"></i>
                        <span class="nav-item">Courses</span>
                    </a>
                </li>
                <li >
                    <a class="hov" href="/adminpage_addcourse">
                        <i class="fas fa-file-circle-plus"></i>
                        <span class="nav-item">Add Course</span>
                    </a>
                </li>
                <li>
                    <a class="hov" href="#">
                        <i class="fas fa-copy"></i>
                        <span class="nav-item">Modules</span>
                    </a>
                </li>
                <li >
                    <a class="hov" href="/adminpage_student">
                        <i class="fas fa-graduation-cap"></i>
                        <span class="nav-item">Students</span>
                    </a>
                </li>
                <li>
                    <a class="hov" href="#">
                        <i class="fas fa-comment"></i>
                        <span class="nav-item">Feedback</span>
                    </a>
                </li>
                <li>
                    <a class="hov" href="#">
                        <i class="fas fa-key"></i>
                        <span class="nav-item">Change Password</span>
                    </a>
                </li>
                <li>
                    <a class="hov" href="#">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
       







    </div>
</body>
</html>